<!DOCTYPE html>
<html lang="en">
    <%- include('../inc/inc-admin/head') %>
    <body>
        <input type="checkbox" id="nav-toggle">
        <%- include('../inc/inc-admin/sidebar') -%>
            <div class="main-content">
                <%- include('../inc/inc-admin/header') -%>
                <main>
                    <%- include('../inc/inc-admin/client') -%>
                </main>
            </div>
        <script>
            $(document).ready(() => {
                //evento para atualizar um cliente
                $('#update-client-button').click(function(e) {
                    e.preventDefault();
                    $.ajax({
                        url: '/admin/clients/',
                        type: 'POST',
                        data: {
                            id_cliente: $('form input#id')[0].value,
                            nome_cliente: $('form input#name')[0].value,
                            whatsapp_cliente: $('form input#whatsapp')[0].value,
                            email_cliente: $('form input#email')[0].value,
                            cpf_cliente: $('form input#cpf')[0].value,
                            dtcad_cliente: $('form input#date')[0].value,
                            ec_cep: $('form input#cep')[0].value,
                            ec_logradouro: $('form input#street')[0].value,
                            ec_numero: $('form input#number')[0].value,
                            ec_bairro: $('form input#district')[0].value,
                            foto_cliente: $('form input#image')[0].value//precisará consertar futuramente, pois não está salvando a imagem selecionada na base
                         },
                    }).done(function(data) {
                        // console.log('data', data);
                        $('p.alert').text(data.message).addClass('alert-success');
                        setTimeout(() => {
                            $('p.alert').fadeOut(500);
                        }, 3000);
                    }).fail(function(er) {
                        console.log(er)
                    });
                });

                //evento para deletar um cliente
                $('#delete-client-button').click(function(e) {
                    id =  $('form input#id')[0].value;
                    $.ajax({
                        url: `/admin/clients/${id}`,
                        type: 'POST',
                        data: { id: id },
                    }).done(function(data) {
                        // console.log('data', data);
                        $('p.alert').text(data.message).addClass('alert-success');
                        setTimeout(() => {
                            $('p.alert').fadeOut(500);
                        }, 3000);
                    }).fail(function(er) {
                        console.log(er)
                    })
                });

                //evento para carregar formulário de um serviço de acordo com o tipo de serviço escolhido
                $('#select-service').on('change', function() {
                    let serviceSelected = $('#select-service option:selected').val();
                    let div = '';
                    
                    if(serviceSelected == 'Acompanhamento') {
                        div =  `
                            <div>
                                <h3>Acompanhamento</h3>
                            <div>
                        `;
                    } else if (serviceSelected == 'Casamento Civil') {
                        div =  `
                            <div>
                                <h3>Casamento Civil</h3>
                            <div>
                        `;
                    } else if (serviceSelected == 'Casamento na Igreja') {
                        div =  `
                            <div>
                                <h3>Casamento na Igreja</h3>
                            <div>
                        `;
                    } else if (serviceSelected == 'Ensaio Gestante') {
                        div =  `
                            <div>
                                <h3>Ensaio Gestante</h3>
                            <div>
                        `;
                    } else if (serviceSelected == 'Ensaio Infantil') {
                        div =  `
                            <div>
                                <h3>Ensaio Infantil</h3>
                            <div>
                        `;
                    } else if (serviceSelected == 'Newborn') {
                        div =  `
                            <div>
                                <h3>Newborn</h3>
                            <div>
                        `;
                    } else if (serviceSelected == 'Prewedding') {
                        div =  `
                            <div>
                                <h3>Prewedding</h3>
                            <div>
                        `;
                    }

                    $('.form-service-selected').empty();
                    $('.form-service-selected').append(div);
                });
            });
        </script>
    </body>
</html>