<!DOCTYPE html>
<html lang="en">
    <%- include('../inc/inc-admin/head') %>
    <body>
        <input type="checkbox" id="nav-toggle">
        <%- include('../inc/inc-admin/sidebar') -%>
            <div class="main-content">
                <%- include('../inc/inc-admin/header') -%>
                <main>
                    <%- include('../inc/inc-admin/client') -%>
                </main>
            </div>
        <script>
            $(document).ready(() => {
                $('#update-client-button').click(function(e) {
                    e.preventDefault();
                    $.ajax({
                        url: '/admin/clients/',
                        type: 'POST',
                        data: {
                            id_cliente: $('form input#id')[0].value,
                            nome_cliente: $('form input#name')[0].value,
                            whatsapp_cliente: $('form input#whatsapp')[0].value,
                            email_cliente: $('form input#email')[0].value,
                            cpf_cliente: $('form input#cpf')[0].value,
                            dtcad_cliente: $('form input#date')[0].value,
                            ec_cep: $('form input#cep')[0].value,
                            ec_logradouro: $('form input#street')[0].value,
                            ec_numero: $('form input#number')[0].value,
                            ec_bairro: $('form input#district')[0].value,
                            foto_cliente: $('form input#image')[0].value//precisará consertar futuramente, pois não está salvando a imagem selecionada na base
                         },
                    }).done(function(data) {
                        // console.log('data', data);
                        $('p.alert').text(data.message).addClass('alert-success');
                        setTimeout(() => {
                            $('p.alert').fadeOut(500);
                        }, 3000);
                    }).fail(function(er) {
                        console.log(er)
                    })
                })
            });
        </script>
    </body>
</html>