<!DOCTYPE html>
<html lang="pt-br">
    <%- include("../inc/inc-admin/head") -%>
    <body>
        <%- include("../inc/inc-admin/sidebar") -%>
        <div class="main-content">
            <%- include("../inc/inc-admin/header") -%>
                página do Dashboard
        </div>
    </body>
</html>