<!DOCTYPE html>
<html lang="pt-br">
    <%- include('../inc/inc-admin/head') -%>
    <body>
        <%- include('../inc/inc-admin/sidebar') -%>
            <div class="main-content">
                <%- include('../inc/inc-admin/header') -%>
                <main>
                    <%- include('../inc/inc-admin/leads') -%>
                </main>
            </div>
        <script>
            $(document).ready(() => {

                if ($('.cards').children().length == 0) {
                    $('.cards').append('<p>Nenhum lead cadastrado ainda.</p>')
                }


                $('.modalBtn').click(switchModal);
                $('#clear-button').click(clearForm);

                //evento de criar um novo lead
                $('#create-lead-button').click(function(ev) {
                    $.ajax({
                        url: `/admin/leads`,
                        type: 'POST',
                        data: { 
                            nome_lead: $('form input#name')[0].value,
                            whatsapp_lead: $('form input#whatsapp')[0].value,
                            email_lead: $('form input#email')[0].value,
                            dtcad_lead: $('form input#date')[0].value,
                            foto_lead: $('form input#image')[0].value,//precisará consertar futuramente, pois não está salvando a imagem selecionada na base
                            origem_lead: $('form select#origin option:selected').val()
                         },
                    }).done(function(data) {
                        // console.log('data', data);
                        if (data.status == 'error') {
                            if ($('form input#name')[0].value == '') {
                                $('form input#name').addClass('input-error');
                                return false
                            }

                            if ($('form select#origin option:selected').val() == '') {
                                $('form select#origin').addClass('input-error');
                                return false;
                            }
                        } else {
                            switchModal();
                            $('p.alert').text(data.message).addClass('alert-success');
                            setTimeout(() => {
                                $('p.alert').fadeOut(500);
                            }, 3000);
                        }
                        
                    }).fail(function(er) {
                        console.log(er)
                    })
                });

                //evento para deletar um lead
                $('a.card .delete-lead').click(function(e) {
                    e.preventDefault();
                    let id = $(this).parent()[0].attributes[2].nodeValue;
                    $.ajax({
                        url: `/admin/leads/${id}`,
                        type: 'POST',
                        data: { id: id },
                    }).done(function(data) {
                        $('p.alert').text(data.message).addClass('alert-success');
                        setTimeout(() => {
                            $('p.alert').fadeOut(500);
                        }, 3000);
                    }).fail(function(er) {
                        console.log(er);
                    });
                });
            });
        </script>
    </body>
</html>