<title>Login | By Emotion</title>
<%- include('../inc/inc-admin/head') %>
<div class="login-screen">
    <p><a href="/">Voltar para Home</a></p>
    <div class="login-img">
        <img src="/img/logo-byemotion.png" width="200px">
    </div>
    <div class="login-screen-container">
        <h3>Acesso a área restrita</h3>
        <div class="login-inputs">
            <div class="login-email">
                <i class="fa-solid fa-user"></i>
                <input type="text" name="" id="login">
            </div>
            <div class="login-pass">
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="" id="pass">
            </div>
        </div>
        <div class="login-submit">
            <input type="button" value="Entrar">
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $(".login-submit input").click(function() {
            let usuario = $('input#login').val();
            let senha = $('input#pass').val();

            if (usuario == "" || senha == "") {
                alert("Campos usuário ou senha está vazio. ");
                return;
            }

            $.ajax({
                url: "/admin/login/",
                type: "POST",
                data: {
                    email: usuario,
                    senha: senha
                },
            }).done(function(data) {
                console.log(data)
                alert(data.mensagem);
                sessionStorage.setItem("token", data.token);
                setTimeout(() => {
                    window.location.assign("/admin/clients");
                }, 2000);
            }).fail(function(er) {
                alert(er.responseJSON.mensagem);
            });
        });
    });
</script>