<div class="clients-panel">
    <button title="Cria novo cliente">Novo</button>
</div>
<hr>
<div class="cards">
    <% clients.forEach(row=> { %>
        <div class="card">
            <div class="card-img">
                <img src="/img/profile.jpg" alt="" width="90px" heigth="90px">
            </div>
            <div class="card-details">
                <div class="card-details-content">
                    <h3><%= row.nome_cliente %></h3>
                <% if (row.whatsapp_cliente) { %>
                    <div class="whatsapp">
                        <p><i class="fa-brands fa-whatsapp"></i> <%= row.whatsapp_cliente %></p>
                    </div>
                <% } %>
                <% if (row.email_cliente) { %>
                    <div class="email">
                        <p><i class="fa-regular fa-envelope"></i> <%= row.email_cliente %></p>
                    </div>
                <% } %>
                </div>
            </div>
            <div class="card-services">
                <div class="card-services-icon">
                    <i class="fa-solid fa-baby"></i>
                </div>
                <div class="card-services-icon">
                    <i class="fa-solid fa-person-pregnant"></i>
                </div>
                <div class="card-services-icon">
                    <i class="fa-solid fa-users"></i>
                </div>
                <div class="card-services-icon">
                    <i class="fa-solid fa-users"></i>
                </div>
                <div class="card-services-icon">
                    <i class="fa-solid fa-users"></i>
                </div>
            </div>
        </div>
    <% }) %>
</div>