<header>
    <h2>
        <label for="nav-toggle"> <span class="las la-bars"> </span></label>
        <span class="title">Titulo</span>
    </h2>
    <div class="search-wrapper">
        <span class="las la-search"></span>
        <input type="search" name="" id="" placeholder="Pesquisar">
    </div>
    <div class="user-wrapper">
        <img src="/img/profile.jpg" width="40px" height="40px" title="foto de perfil" alt="">
        <div>
            <h4>Nome do usuário</h4>
            <small>Super Admin</small>
        </div>
    </div>
</header>