<div class="sidebar">
    <a href="/"><img src="/img/logo-byemotion.png"></a>
    <div class="sidebar-brand">
    </div>
    <div class="sidebar-menu">
        <ul>
            <li><a href="/admin/clients" id="clients" title="Clientes"><i class="fa-solid fa-users"></i></span><span> Clientes</span></a></li>
        </ul>
        <ul>
            <li><a href="#" id="services" title="Serviços"><i class="fa-solid fa-camera-retro"></i><span> Serviços</span></a></li>
        </ul>
        <ul>
            <li><a href="#" id="dashboard" title="Dashboard"><i class="fa-solid fa-chart-pie"></i><span> Dashboard</span></a></li>
        </ul>
        <ul>
            <li><a href="#" id="configurations" title="Configurações"><i class="fa-solid fa-gear"></i><span> Configurações</span></a></li>
        </ul>
    </div>
</div>

