<!DOCTYPE html>
<html lang="en">
    <%- include('./inc/head') -%>
    <body>
        <input type="checkbox" id="nav-toggle">
        <%- include('./inc/sidebar') -%>
            <div class="main-content">
                <%- include('./inc/header') -%>
                <%- include('./inc/clients') -%>
            </div>
        <script>
            $(document).ready(() => {
                function switchModal() {
                    console.log('display', $('.modal').css('display'))
                    if ($('.modal').css('display') == 'block') {
                        $('.modal').css('display', 'none');
                        clearForm();

                    }
                    else {
                        $('.modal').css('display', 'block');
                    }
                }

                $('.modalBtn').click(switchModal);
                $('#clear-button').click(clearForm);

                window.onclick = function (event) {
                    if (event.target.className == 'modal') {
                        switchModal();
                    }
                }
                
               function clearForm() {
                $('#form-id').each (function(){
                    this.reset();
                }); 
               }   
            });
        </script>
    </body>
</html>