<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-widht, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <title>Home</title>
</head>

<body>
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="lab la-accusoft">Logo</span></h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li><a href="#" class="active"><span class="las la-igloo"><%= title %></span></a></li>
            </ul>
            <ul>
                <li><a href="/clients"><span class="las la-users">Clientes</span></a></li>
            </ul>
            <ul>
                <li><a href="/services"><span class="las la-clipboard-list">Serviços</span></a></li>
            </ul>
            <ul>
                <li><a href="/dashboard"><span class="las la-clipboard-list">Dashboard</span></a></li>
            </ul>
            <ul>
                <li><a href="/configurations"><span class="las la-clipboard-list">Configurações</span></a></li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle"> <span class="las la-bars"> </span></label>
                <%= title %>
            </h2>
            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" name="" id="" placeholder="Pesquisar">
            </div>
            <div class="user-wrapper">
                <img src="/img/profile.jpg" width="40px" height="40px" title="foto de perfil" alt="">
                <div>
                    <h4>Nome do usuário</h4>
                    <small>Super Admin</small>
                </div>
            </div>
        </header>
        <main>
            <div class="apagar">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil quibusdam, eum voluptatem a neque odio iste
                fugiat pariatur praesentium, possimus, ea vero eius quos iure reprehenderit dignissimos quo! Consequatur,
                unde!
            </div>
        </main>
    </div>
</body>

</html>