html { overflow-x: hidden; }

.social-logos img { width: 20%; }
.social h2 { padding: 0 5px 5px 5px; }

body > header > div > div.logo-site > a > img { width: 300px; }
body > header > div > div.menu-site > ul li a:hover { color: #989; }

.profile-about { padding: 10px; }

div.contact h2 { margin-left: 20px; }
div.profile-about p { font-size: 20px; }
div.profile-photo { margin: 10px; }

header { background-color: #fff; }

.recent-works {
    display: flex;
    justify-content: center;
}

.social-logos {
    display: flex;
    justify-content: space-around;
}

body > header > div > div.menu-site > ul li {
    display: inline-block;
    text-decoration: none;
}

div.contact-form {
    margin: 20px;
    width: 520px;
}

div.profile {
    align-items: center;
    display: flex;
}

footer .developer {
    position: relative;
    text-align: center;
}

h1 {
    color: #333;
    padding-top: 5px;
}

.recent-works-photos {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.social {
    margin: auto;
    text-align: center;
    width: 200px;
}

div.main-galery {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.recent-works-content {
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    width: 1200px;
}

body {
    background-color: aliceblue;
    font-family: "Dosis", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body > header > div > div.menu-site > ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

body > header > div.container-site {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body > header > div.container-site p {
    color: #989;
    position: absolute;
    right: 5px;
    top: 5px;
}

div.contact {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

div.photos-galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

body > header > div > div.menu-site > ul li a {
    color: #000;
    display: inline-block;
    font-size: 23px;
    padding: 20px;
    text-decoration: none;
}

div.contact-form textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    padding: 0.5rem;
    width: 510px;
}

div.profile-photo img {
    border: 1px solid #aaa;
    border-radius: 50%;
    height: 200px;
    position: relative;
    width: 200px;
}

body > header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: static;
    width: 100%;
}

body > main > div.cover {
    background-attachment: fixed;
    background-image: url("/img/photo-cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    min-height: 500px; 
}

div.contact-form input {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 100%;
    margin: 5px;
    outline: none;
    padding: 0.5rem;
    width: 350px;
}

div.contact-form button {
    background-color: #1E90FF;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
    margin-right: 5px;
    padding: 8px 15px;
}

footer {
    background-color: #fff;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 200px;
    margin-top: 50px;
    position: relative;
    width: 100%;
}

div.contact-form input:focus,
div.contact-form textarea:focus {
    border: 1px solid #aaa;
}

.recent-works img,
div.recent-works-photos img,
.photos-galery img {
    border: 10px solid #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-bottom: 50px;
    transition: all 0.5s;
    width: 400px;
}

div.form-email,
div.form-name,
div.form-phone {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.recent-works img:hover {
    /* -webkit-transform: scale(1.3); */
    transform: scale(1.3);
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #111;
    margin: 8px;
}

@media (max-width: 970px) {
    .nav-list {
        position: absolute;
        display: flex;
        top: 180px;
        right: 0;
        width: 100vw;
        height: 100%;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        z-index: 1;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
        font-weight: 700;
    }

    .mobile-menu {
        display: block;
        position: relative;
        z-index: 2;
    }

    .cover { display: none !important; }

    .recent-works-photos img { width: 800px !important; }

    .recent-works-photos img:hover { transform: scale(1); }

    .social-logos img { width: 45px; }
}

@media (max-width: 880px) {
    .recent-works-photos img { width: 300px !important; }
}

@media (max-width: 600px) {
    .profile { flex-direction: column; }
}