<div class="modal" id="modal-confirmacao-excluir-cliente">
    <div class="confirmacao-excluir">
        <div class="confirmacao-excluir-header">
            <h2>Confirmação</h2>
        </div>
        <div class="confirmacao-excluir-body">
            <p>Tem certeza que deseja excluir este cliente?</p>
            <p>Esta ação apagará todos os serviços vinculados a ele.</p>
        </div>
        <div class="confirmacao-excluir-acoes">
            <button id="delete-client-button">Sim</button>
            <button id="confirmacao-excluir-acoes-nao">Não</button>
        </div>
    </div>
</div>