<div class="modal" id="modal-aviso">
    <div class="modal-aviso">
        <div class="modal-aviso-header primaria">
            <h2>Aviso</h2>
        </div>
        <div class="modal-aviso-texto">
            <p></p>
        </div>
        <div class="botao-modal-aviso">
            <button id="modal-aviso-ok">Ok</button>
        </div>
    </div>
</div>