<div class="modal" id="modal-novo-cliente">
    <div class="content">
        <div class="modal-header primaria"></div>
        <div class="modal-body">
            <div class="modal-body-form">
                <div class="campos-cliente form">
                    <div id="nome-cliente">
                        <div class="campo-dentro">
                            <label for="">Nome *</label>
                            <input type="text" name="nome-cliente" id="nome-cliente" value="">
                        </div>
                        <div class="mensagem-erro"><span></span></div>
                    </div>

                    <div id="whatsapp">
                        <div class="campo-dentro">
                            <label for="">WhatsApp *</label>
                            <input type="text" name="whatsapp" id="whatsapp" value="">
                        </div>
                        <div class="mensagem-erro"><span></span></div>
                    </div>

                    <div id="email">
                        <div class="campo-dentro">
                            <label for="">E-mail</label>
                            <input type="text" name="email" id="email" value="">
                        </div>
                        <div class="mensagem-erro"><span></span></div>
                    </div>

                    <div id="cpf">
                        <div class="campo-dentro">
                            <label for="">CPF</label>
                            <input type="text" name="cpf" id="cpf" value="">
                        </div>
                        <div class="mensagem-erro"><span></span></div>
                    </div>

                    <div id="dtcad_cliente">
                        <div class="campo-dentro">
                            <label for="">Data de Cadastro</label>
                            <input type="date" name="dtcad_cliente" id="dtcad_cliente" value="">
                        </div>
                        <div class="mensagem-erro"><span></span></div>
                    </div>

                    <fieldset id="endereco-cliente">
                        <legend>Endereço</legend>
                        <input type="text" class="input-logradouro" placeholder="Rua, Avenida, etc" name="endereco-cliente-logradouro" id="endereco-cliente-logradouro" value="">
                        <input type="text" class="input-numero" placeholder="Num" name="endereco-cliente-numero" id="endereco-cliente-numero" value="">
                        <input type="text" placeholder="Bairro" name="endereco-cliente-bairro" id="endereco-cliente-bairro" value="">
                    </fieldset>

                    <div class="data-form-image-client">
                        <div class="data-image-upload">
                            <img src="/img/no-photo.jpg %>" alt="">
                            <input type="file" name="foto_cliente" id="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="modal-footer-buttons">
                <div class="clear-cancel">
                    <button id="clear-button">Limpar formulário</button>
                </div>
                <div class="save">
                    <button id="create-client-button">Criar</button>
                </div>
            </div>
        </div>
    </div>
</div>