<div class="modal" id="modal-novo-lead">
    <div class="content">
        <div class="modal-header primaria"></div>
        <div class="modal-body">
            <div class="modal-body-form">    
                <div class="campos-lead form">

                    <div id="nome-lead">
                        <div class="campo-dentro">
                            <label for="">Nome *</label>
                            <input type="text" name="nome-lead" id="nome-lead" required>
                        </div>
                        <div class="mensagem-erro"><span></span></div>
                    </div>

                    <div id="whatsapp-lead">
                        <div class="campo-dentro">
                            <label for="">WhatsApp *</label>
                            <input type="text" name="whatsapp-lead" id="whatsapp-lead">
                        </div>
                        <div class="mensagem-erro"><span></span></div>
                    </div>

                    <div id="email-lead">
                        <div class="campo-dentro">
                            <label for="">E-mail</label>
                            <input type="email" name="email-lead" id="email-lead">
                        </div>
                        <div class="mensagem-erro"><span></span></div>
                    </div>

                    <div id="dtcad-lead">
                        <div class="campo-dentro">
                            <label for="">Data de Cadastro</label>
                            <input type="date" name="dtcad-lead" id="dtcad-lead">
                        </div>
                        <div class="mensagem-erro"><span></span></div>
                    </div>
                        
                    <div class="origem-lead">
                        <div class="campo-dentro">
                            <label for="">Origem do Lead</label>
                            <select name="origem-lead" id="origem-lead" required>
                                <option value="">Selecione</option>
                                <option value="Indicação">Indicação</option>
                                <option value="Facebook">Facebook</option>
                                <option value="status do WhatsApp">Status do WhatsApp</option>
                                <option value="Instagram">Instagram</option>
                                <option value="Site">Site</option>
                            </select>
                        </div>
                        <div class="mensagem-erro"><span></span></div>
                    </div>

                    <div class="data-form-image-lead">
                        <div class="data-image-upload">
                            <img src="/img/no-photo.jpg %>" alt="" id="image-preview">
                            <input type="file" name="foto-lead" id="foto-lead">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <hr>
            <div class="modal-footer-buttons">
                <div class="clear-cancel">
                    <button id="clear-button">Limpar formulário</button>
                </div>
                <div class="save">
                    <button id="create-lead-button">Criar Lead</button>
                </div>
            </div>
        </div>
    </div>
</div>