<div class="modal" id="modal-novo-lead">
    <div class="content">
        <div class="modal-header primaria">
        </div>
        <div class="modal-body">
            <div class="modal-body-form">
                <form enctype="multipart/form-data">
                    <div class="data-form">
                        <div class="data-form-content">
                            <div class="data-form-one">
                                <div class="form-name">
                                    <label for="">Nome</label><input type="text" name="nome_lead" id="name" required>
                                </div>
                                <div class="form-whatsapp">
                                    <label for="">WhatsApp</label><input type="text" name="whatsapp_lead" id="whatsapp">
                                </div>
                            </div>
                            <div class="data-form-two">
                                <div class="form-email">
                                    <label for="">E-mail</label><input type="email" name="email_lead" id="email">
                                </div>
                                <div class="form-date">
                                    <label for="">Data de Cadastro</label><input type="date" name="dtcad_lead" id="date">
                                </div>
                            </div>
                            <div class="data-form-three">
                                
                                <div class="form-origin">
                                    <label for="">Origem do Lead</label>
                                    <select name="origin_lead" id="origin" required>
                                        <option value="">Selecione</option>
                                        <option value="Indicação">Indicação</option>
                                        <option value="Facebook">Facebook</option>
                                        <option value="status do WhatsApp">Status do WhatsApp</option>
                                        <option value="Instagram">Instagram</option>
                                        <option value="Site">Site</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="data-form-image">
                            <div class="data-image-upload">
                                <img src="/img/no-photo.jpg" alt="">
                            </div>
                            <input type="file" name="foto_lead" id="image">
                            <label for="">Foto do Lead</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <hr>
            <div class="modal-footer-buttons">
                <div class="clear-cancel">
                    <button id="clear-button">Limpar formulário</button>
                </div>
                <div class="save">
                    <button id="create-lead-button">Criar Lead</button>
                </div>
            </div>
        </div>
    </div>
</div>