<div class="colors">
    <h3>Configurações das cores</h3>
    <div class="colors-primary">
        <p>Cor primária:</p>
        <input type="color" id="color-primary" class="color-input">
        <label for="color-primary" class="pseudo-color-input"></label>
    </div>
    <div class="colors-secundary">
        <p>Cor secundária:</p>
        <input type="color" name="" id="color-secundary" class="color-input">
        <label for="color-secundary" class="pseudo-color-input"></label>
    </div>
    <div class="colors-text">
        <p>Cor do texto:</p>
        <input type="color" name="" id="color-text" class="color-input">
        <label for="color-text" class="pseudo-color-input"></label>
    </div>
</div>