<header>
    <h2>
        <label for="nav-toggle"> <span class="las la-bars"> </span></label>
        <span class="title"><%= title %></span>
    </h2>
    <% if (typeMessage) { %>
        <div id="alert" class="alert-<%= typeMessage %>">
            <%= message %>
        </div>
        <% } %>
    <div class="user-wrapper">
        <img src="/img/profile.jpg" width="40px" height="40px" title="foto de perfil" alt="">
        <div>
            <h4>Nome do usuário</h4>
            <small>Super Admin</small>
        </div>
    </div>
</header>