<header>
    <h2>
        <label for="nav-toggle"> <span class="las la-bars"> </span></label>
    </h2>
    <p class="alert"></p>
    <div class="user-wrapper">
        <img src="/img/profile.jpg" width="40px" height="40px" title="foto de perfil" alt="">
        <div>
            <h4>Alice Andrade</h4>
            <span class="logout">Sair</span>
        </div>
    </div>
</header>

<script>
    $("span.logout").click(function() {
        sessionStorage.clear();
        window.location.assign("/admin/login");
    });
</script>