<header>
    <p class="alert"></p>
    <div class="user-wrapper">
        <img src="/img/alice-profile.jpg" width="40px" height="40px" title="foto de perfil" alt="">
        <div>
            <h4>Alice Andrade</h4>
            <span class="logout"><i class="fa-solid fa-right-from-bracket"></i></span>
        </div>
    </div>
</header>

<script>
    $("span.logout").click(function() {
        sessionStorage.clear();
        window.location.assign("/admin/login");
    });
</script>