<header>
    <div class="alert"><p></p></div>
    <div class="user-wrapper">
        <img src="/img/alice-profile.jpg" width="40px" height="40px" title="foto de perfil" alt="">
        <div>
            <h4>Alice Andrade</h4>
            <span class="logout" title="Sair"><i class="fa-solid fa-right-from-bracket"></i></span>
        </div>
    </div>
</header>