<div class="painel-acoes">
    <div class="painel-acoes-content">
        <div class="painel-acoes-content-busca">
            <input type="search" name="" id="painel-acoes-content-search" placeholder="Pesquisar">
        </div>
        <div class="painel-acoes-content-buttons">
            <button><i class="fa-solid fa-user-plus"></i></button>
            <button><i class="fa-solid fa-camera-retro"></i></button>
            <button><i class="fa-solid fa-handshake-simple"></i></button>
        </div>
    </div>
</div>