<div class="sidebar primaria">
    <div class="sidebar-logo">
        <a href="/admin/"><img src="/img/logo-byemotion.png"></a>
    </div>
    <div class="sidebar-brand">
    </div>
    <div class="sidebar-menu">
        <ul>
            <li><a href="/admin/clients" id="clients" title="Clientes"><i class="fa-solid fa-users"></i></a></li>
        </ul>
        <ul>
            <li><a href="/admin/leads" id="leads" title="Leads"><i class="fa-solid fa-handshake"></i></a></li>
        </ul>
        <ul>
            <li><a href="/admin/services" id="services" title="Serviços"><i class="fa-solid fa-camera-retro"></i></a></li>
        </ul>
        <ul>
            <li><a href="/admin/dashboard" id="dashboard" title="Dashboard"><i class="fa-solid fa-chart-pie"></i></a></li>
        </ul>
        <ul>
            <li><a href="/admin/configurations" id="configurations" title="Configurações e Preferências"><i class="fa-solid fa-sliders"></i></i></a></li>
        </ul>
        <ul>
            <li><a href="/admin/tools" id="tools" title="Ferramentas"><i class="fa-solid fa-wrench"></i></i></a></li>
        </ul>
    </div>
</div>