<div class="sidebar">
    <a href="/admin/"><img src="/img/logo-byemotion.png"></a>
    <div class="sidebar-brand">
    </div>
    <div class="sidebar-menu">
        <ul>
            <li><a href="/admin/clients" id="clients" title="Clientes"><i class="fa-solid fa-users"></i></span><span> Clientes</span></a></li>
        </ul>
        <ul>
            <li><a href="/admin/leads" id="leads" title="Leads"><i class="fa-solid fa-user"></i></span><span> Leads</span></a></li>
        </ul>
        <ul>
            <li><a href="/admin/services" id="services" title="Serviços"><i class="fa-solid fa-camera-retro"></i><span> Serviços</span></a></li>
        </ul>
        <ul>
            <li><a href="/admin/dashboard" id="dashboard" title="Dashboard"><i class="fa-solid fa-chart-pie"></i><span> Dashboard</span></a></li>
        </ul>
        <ul>
            <li><a href="/admin/configurations" id="configurations" title="Configurações"><i class="fa-solid fa-gear"></i><span> Configurações e Preferências</span></a></li>
        </ul>
        <ul>
            <li><a href="/admin/blog" id="blog" title="Meu Blog"><i class="fa-sharp fa-solid fa-square-rss"></i><span> Meu Blog</span></a></li>
        </ul>
        <ul>
            <li><a href="/admin/contact" id="contact" title="Mensagem que os contatos deixaram através do site"><i class="fa-regular fa-message"></i><span> Contato</span></a></li>
        </ul>
    </div>
</div>

<script>
    $(document).ready(function() {
        setTimeout(() => {
            //pegar cores da configuradas na base
            $.ajax({
                url: '/admin/configurations/colors',
                type: "GET",
                success: data => {
                    // console.log(data)
                    let colors = data
                    $('.sidebar').css('background-color', colors['cor-primaria']);
                    $('main').css('background-color', colors['cor-secundaria']);
                    $('p').css('color', colors['cor-texto']);
                    $('span').css('color', colors['cor-texto']);
                }
            });
        }, 100);
    });
</script>
