<!DOCTYPE html>
<%- include('../inc/inc-site/head-site') %>
<html lang="pt-br">
    <body>
        <%- include('../inc/inc-site/header-site') %>
        <main>
            <div class="cover"></div>
            <div class="recent-works">
                <div class="recent-works-content">
                    <h1>ETERNIZANDO MOMENTOS ÚNICOS</h1>
                    <div class="recent-works-photos">
                        <img src="/img/photo_1.jpg" >
                        <img src="/img/photo_2.jpg" >
                        <img src="/img/photo_3.jpg" >
                        <img src="/img/photo_4.jpg" >
                    </div>
                </div>
            </div>
            <div class="depositions">
                <div class="depositions-header"><h2>depoimentos</h2></div>
                <div class="depositions-body">
                    <div class="depositions-items">
                        <img src="/img/dep.jpg" alt="">
                    </div>
                    <div class="depositions-items">
                        <img src="/img/dep2.jpg" alt="">
                    </div>
                </div>
            </div>
        </main>
        <%- include('../inc/inc-site/footer-site') %>
    </body>
</html>