<header>
    <div class="container-site">
        <a href="admin/login"><p>Área Restrita</p></a>
        <div class="logo-site">
            <a href="/"><img src="/img/logo-byemotion.png"></a>
        </div>
        <div class="menu-site">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="galery">GALERIA</a></li>
                <li><a href="/about">SOBRE</a></li>
                <li><a href="/contact">CONTATO</a></li>
                <li><a href="/blog">BLOG</a></li>
            </ul>
        </div>
    </div>
</header>